@model SSG.Model.PageModel
<html>
    <head>
    	<title>
			@Model.Article.MetaInfo.Title
    	</title>
		<meta name="keywords" content="@string.Join(",", Model.Article.MetaInfo.Tags)">
		<meta name="description" content="@string.Join(",", Model.Article.MetaInfo.Summary)">
		
    	<style>
    		body { margin: 50px; font-family: Arial, Helvetica, Sans-serif; line-height: 20px; }
            h1 { font-size: 20px; }
            h2 { font-size: 16px; }
            h3 { font-size: 12px; }
    		td { font-family: Arial, Helvetica, Sans-serif; line-height: 20px; }
            pre { border: 1px solid grey; background-color: lightgrey; padding: 10px 10px 10px 10px; white-space: pre-wrap;  }
            .menu {margin-right:20px;}
    	</style>
   	</head>
    <body>
        <a class="menu" href="@SSG.Model.GetLink(@Model, "Static site generator using razor/markdown/creole/textile") ">SSG front page</a>
        <article>
			@Raw(Model.Article.TransformedMarkup)
		</article>
        <!-- generated: @DateTime.Now --> 
    </body>
</html>