@model SSG.Model.PageModel
@using Newtonsoft.Json
<html>
    <head>
        <title>
            @Model.Article.MetaInfo.Title
        </title>
        <meta name="keywords" content="@string.Join(",", Model.Article.MetaInfo.Tags)">
        <meta name="description" content="@string.Join(",", Model.Article.MetaInfo.Summary)">
        
        <style>
            body { margin: 50px; font-family: Arial, Helvetica, Sans-serif; line-height: 20px; }
            h1 { font-size: 20px; }
            h2 { font-size: 16px; }
            h3 { font-size: 12px; }
            td { font-family: Arial, Helvetica, Sans-serif; line-height: 20px; }
            pre { border: 1px solid grey; background-color: lightgrey; padding: 10px 10px 10px 10px; white-space: pre-wrap;  }
            .menu {margin-right:20px;}
        </style>
    </head>
    <body>
        <a class="menu" href="@SSG.Model.GetLink(@Model, "Static site generator using razor/markdown/creole/textile") ">SSG front page</a>
        @Raw(Model.Article.TransformedMarkup)

        <h3>Model.Article.Markup</h3>
        <pre>@JsonConvert.SerializeObject(Model.Article.Markup, Formatting.Indented)</pre>

        <h3>Model.Article.MetaInfoSource</h3>
        <pre>@JsonConvert.SerializeObject(Model.Article.MetaInfoSource, Formatting.Indented, new JsonSerializerSettings() { ReferenceLoopHandling = ReferenceLoopHandling.Ignore})</pre>

        <h3>Model.Article.MetaInfo</h3>
        <pre>@JsonConvert.SerializeObject(Model.Article.MetaInfo, Formatting.Indented)</pre>

        <h3>Model.Article.TransformedMarkup</h3>
        <pre>@JsonConvert.SerializeObject(Model.Article.TransformedMarkup, Formatting.Indented)</pre>

        <h3>Model.Articles</h3>
        <pre>@JsonConvert.SerializeObject(Model.Articles, Formatting.Indented, new JsonSerializerSettings() { ReferenceLoopHandling = ReferenceLoopHandling.Ignore})</pre>

        <!-- generated: @DateTime.Now --> 
    </body>
</html>